<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    {% load staticfiles %}
    <link href="{% static "one/test/starter-temlate.css"%}" rel="stylesheet">
    <title>Теннис</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" name="about" onclick="goAbout()">Проект большой теннис</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Главная</a></li>
            <li class="active"><a href="predictions/">Прогнозы</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div id="content">
      <div class="container">
        <h1>Сайт про ставки</h1>
        <p>Здесь надо что-то такое написать</p>
        <p><a class="btn btn-primary btn-lg" href="about" role="button">Проект большой теннис &raquo;</a></p>
      </div>

<table class="table">
    <tr>
        <td>
            <div class="side-rows">
                <p><img src="{% static "one/image/poststamp.jpg" %}" alt="Image doesn't work" width="200"></p>
            </div>
        </td>
        <td>
            <p class="lead">Это таблица игроков.</p>
            <form action="predict_search/" method="GET">
                    <input type="text" class="form-control" placeholder="Найти игрока" name="SearchByName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Поиск</button>
                    </span>
            </form>
            {% if object_list %}
                <ul>
                <table class="table table-bordered">
                    <tr>
                        <span>
                        <td>Имя (есть ли возможность сделать ссылки без хардкода)</td> <td>Количество игр</td> <td>Соотношение побед к поражениям</td>
                        </span>
                    </tr>
                    {% for player in player_list %}
                    <tr>
                        <td><a href="http://127.0.0.1:8000/one/predict_search/?SearchByName={{player.name}}">{{player.name}}</a></td> <td>{{player.total_games}}</td> <td>{{player.win_rate}}</td>
                    </tr>
                    {% endfor %}
                </table>
    </ul>
{% else %}
    <p>No players are available.</p>
{% endif %}
        </td>
        <td>
            <div class="side-rows">
                <p><img src="{% static "one/image/Tenniscourt.png" %}" alt="Image doesn't work" width="200"></p>
            </div>
        </td>
    </tr>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static "one/js/predict.js" %}"></script>
</body>
